# Auto-created directories
.DS_Store
._.DS_Store
.vscode/

# Executable
bin/
obj/

# ChampSim directories
branch/
docs/
inc/
prefetcher/
src/
replacement/
tracer/
config/

# Traces
dpc3_traces/
traces/
cvp1_traces/

# Experiments
experiments/*Sim/
experiments/old_experiments/
DDR5_baseline*
core.*
*4T_base/

# Others  
graphs/stat_scripts/extras/
tags
*.out
*.err
libbf/
